@{
	ViewData["Title"] = "Edit User";
}
@model Negin.WebUI.Models.ViewModels.UserViewModel

<div class="card mb-5 mb-xl-10">
	<!--begin::Card header-->
	<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
		<!--begin::Card title-->
		<div class="card-title m-0">
			<h3 class="fw-bold m-0">Edit User</h3>
		</div>
		<!--end::Card title-->
	</div>
	<!--begin::Card header-->
	<!--begin::Content-->
	<div id="kt_account_settings_profile_details" class="collapse show">
		<!--begin::Form-->
		<form id="kt_account_profile_details_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" asp-controller="Account" asp-action="Edit" method="post">
			<!--begin::Card body-->
			<div class="card-body border-top p-9">
				<!--begin::Input group-->
				<div class="row mb-6">
					<!--begin::Label-->
					<label class="col-lg-4 col-form-label fw-semibold fs-6">Avatar</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						<!--begin::Image input-->
						<div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('/metronic8/demo1/assets/media/svg/avatars/blank.svg')">
							<!--begin::Preview existing avatar-->
							<div class="image-input-wrapper w-125px h-125px" style="background-image: url(../assets/media/avatars/blank.png)"></div>
							<!--end::Preview existing avatar-->
							<!--begin::Label-->
							<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar" data-bs-original-title="Change avatar" data-kt-initialized="1">
								<i class="bi bi-pencil-fill fs-7"></i>
								<!--begin::Inputs-->
								<input type="file" name="avatar" accept=".png, .jpg, .jpeg">
								<input type="hidden" name="avatar_remove">
								<!--end::Inputs-->
							</label>
							<!--end::Label-->
							<!--begin::Cancel-->
							<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar" data-bs-original-title="Cancel avatar" data-kt-initialized="1">
								<i class="bi bi-x fs-2"></i>
							</span>
							<!--end::Cancel-->
							<!--begin::Remove-->
							<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar" data-bs-original-title="Remove avatar" data-kt-initialized="1">
								<i class="bi bi-x fs-2"></i>
							</span>
							<!--end::Remove-->
						</div>
						<!--end::Image input-->
						<!--begin::Hint-->
						<div class="form-text">Allowed file types: png, jpg, jpeg.</div>
						<!--end::Hint-->
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-6">
					<!--begin::Label-->
					<label class="col-lg-4 col-form-label fw-semibold fs-6">Full Name</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8">
						<!--begin::Row-->
						<div class="row">
							<!--begin::Col-->
							<div class="col-lg-6 fv-row fv-plugins-icon-container">
								<input type="text" asp-for="User.FirstName" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name">
								<input type="hidden" asp-for="User.Id" />
								<div class="fv-plugins-message-container invalid-feedback"></div>
							</div>
							<!--end::Col-->
							<!--begin::Col-->
							<div class="col-lg-6 fv-row fv-plugins-icon-container">
								<input type="text" asp-for="User.LastName" class="form-control form-control-lg form-control-solid" placeholder="Last name">
								<div class="fv-plugins-message-container invalid-feedback"></div>
							</div>
							<!--end::Col-->
						</div>
						<!--end::Row-->
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-6">
					<!--begin::Label-->
					<label class="col-lg-4 col-form-label required fw-semibold fs-6 required">User Name</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8 fv-row fv-plugins-icon-container">
						<input type="text" asp-for="User.UserName" class="form-control form-control-lg form-control-solid" placeholder="User name">
						<div class="fv-plugins-message-container invalid-feedback"></div>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-6">
					<!--begin::Label-->
					<label class="col-lg-4 col-form-label required fw-semibold fs-6 required">Password</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8 fv-row fv-plugins-icon-container">
						<input type="password" asp-for="User.PasswordHash" class="form-control form-control-lg form-control-solid" placeholder="Password">
						<div class="fv-plugins-message-container invalid-feedback"></div>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-6">
					<!--begin::Label-->
					<label class="col-lg-4 col-form-label fw-semibold fs-6">
						<span class="">Contact Phone</span>
					</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8 fv-row fv-plugins-icon-container">
						<input type="tel" asp-for="User.PhoneNumber" class="form-control form-control-lg form-control-solid" placeholder="Phone number">
						<div class="fv-plugins-message-container invalid-feedback"></div>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-6">
					<!--begin::Label-->
					<label class="col-lg-4 col-form-label fw-semibold fs-6">E-mail</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8 fv-row">
						<input type="text" asp-for="User.Email" class="form-control form-control-lg form-control-solid" placeholder="E-mail">
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-6">
					<!--begin::Label-->
					<label class="col-lg-4 col-form-label required fw-semibold fs-6 required">Role</label>
					<!--end::Label-->
					<!--begin::Col-->
					<div class="col-lg-8 fv-row fv-plugins-icon-container">
						<!--begin::Options-->
						<div class="d-flex align-items-center mt-3">
							<!--begin::Option-->
							<label class="form-check form-check-custom form-check-inline form-check-solid me-5">
								<input id="admin_chk" class="form-check-input" name="Role[]" type="checkbox" value="admin">
								<span class="fw-semibold ps-2 fs-6">Admin</span>
							</label>
							<!--end::Option-->
							<!--begin::Option-->
							<label class="form-check form-check-custom form-check-inline form-check-solid">
								<input id="default_chk" class="form-check-input" name="Role[]" type="checkbox" value="default">
								<span class="fw-semibold ps-2 fs-6">Default</span>
							</label>
							<!--end::Option-->
						</div>
						<!--end::Options-->
						<div class="fv-plugins-message-container invalid-feedback"></div>
					</div>
					<!--end::Col-->
				</div>
				<!--end::Input group-->
				<!--begin::Input group-->
				<div class="row mb-0">
					<!--begin::Label-->
					<label class="col-lg-4 col-form-label fw-semibold fs-6">Active</label>
					<!--begin::Label-->
					<!--begin::Label-->
					<div class="col-lg-8 d-flex align-items-center">
						<div class="form-check form-check-solid form-switch form-check-custom fv-row">
							<input class="form-check-input w-45px h-30px" type="checkbox" id="activeSwitch" asp-for="User.IsActived">
							<label class="form-check-label" for="activeSwitch"></label>
						</div>
					</div>
					<!--begin::Label-->
				</div>
				<!--end::Input group-->
			</div>
			<!--end::Card body-->
			<div asp-validation-summary="All" class="text-danger"></div>
			<!--begin::Actions-->
			<div class="card-footer d-flex justify-content-end py-6 px-9">
				<a href="/Account/List" class="btn btn-light btn-active-light-primary me-2">Back</a>
				<button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Save Changes</button>
			</div>
			<!--end::Actions-->
			<input type="hidden">
		</form>
		<!--end::Form-->
	</div>
	<!--end::Content-->
</div>

@section Links{
@*    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
*@}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script type="text/javascript">
        $(document).ready(function () {
			$('#default_chk').click(function () {
				if(this.checked == false){
					$('#admin_chk').prop('checked', true);
				} 
			});
			$('#admin_chk').click(function () {
				if (this.checked == false) {
					$('#default_chk').prop('checked', true);
				}
			});
			$('#activeSwitch').checked = "@Model?.User.IsActived";
			
			@foreach (var role in Model?.Role)
			{
				<text>
					if ("@role" == "admin")
					{
						$('#admin_chk').prop('checked', 'checked')
					}else if("@role" == "default"){
						$('#default_chk').prop('checked', 'checked')
					}
				</text>
			}
        })
    </script>
}