@{
    ViewData["Title"] = "Vessel Stopages";
}
@model IList<Vessel>

<div class="card">
    <!--begin::Card header-->
    <div class="card-body py-7 row">
        <div class="col-lg-6 align-content-lg-center">
            <img data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="left" title="After select a Vessel and 'VoyageNumberIn' press show vessel stoppage button (Green button!)" src="~/assets/media/images/boat-with-containers.png" style="width:60px" />
            <div class="mb-5">
                <div class="fv-row fv-plugins-icon-container overflow-hidden flex-grow-1">
                    <select id="vessels" type="text"  class="form-select form-select-solid border-start" data-control="select2" data-placeholder="Select a Vessel...">
                        <option value="">Select a vessel...</option>
                        @foreach (Vessel vessel in Model)
                        {
                            <option value="@vessel.Id">@vessel.Name</option>
                        }
                    </select>
                </div>
                <input type="hidden" id="voyageId" />
            </div>
        </div>
@*        <div class="col-lg-6">
            <img src="~/assets/media/images/123.png" style="width:50px;margin-bottom:10px" />
            <label class="fw-bold fs-lg-4">Voyage Number In</label>
            <div class="fv-row fv-plugins-icon-container overflow-hidden flex-grow-1">
                <select id="voyageNumbers" disabled type="text" class="form-select form-select-solid border-start" data-control="select2" data-placeholder="Select a Voyage No In...">
                    <option value="">Select a vessel...</option>
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <button id="show" class="btn btn-success my-4 text-end">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
                          <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                        </svg>                   
                    </span>
                    <!--end::Svg Icon-->Show Vessel Stoppage
                </button>
            </div>
        </div>
*@    </div>
</div>

<div id="vesselStoppageList" style="padding:0;visibility:hidden;">

</div>

@section Links{
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/custom/apps/user-management/users/list/tableVessel.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#operation').addClass("show");
            $('#vessels').val(null);
            //$('#voyageNumbers').val(null);

     //       $('#vessels').change(function(){
     //           $.ajax({
     //               url: '/Operation/GetVoyageNoIn',
     //               type: 'GET',
     //               data:{vesselId: $('#vessels').val()},
     //               success: function(res){
     //                   $('#voyageNumbers').prop('disabled', false);
     //                   $('#voyageNumbers').empty();
					//	for(var i=0;i<res.length;i++){
					//		$('#voyageNumbers').append('<option value="' + res[i].id + '">' + res[i].voyageNoIn + '</option>')
					//	}
					//}

     //           })
     //       });

            $('#vessels').change(function () {
                var filter = $(this).data('filter');
                var pageNumber = $(this).data('pageNumber');

                $.ajax({
                    url: '/Operation/GetVoyageNoIn',
                    type: 'GET',
                    data:{vesselId: $('#vessels').val()},
                    success: function(res){
                		$('#voyageId').val(res.id);
                        $('#vesselStoppageList').hide();
                        $('.tooltip-inner, .tooltip-arrow').hide();

                        $.ajax({
                            url: '/Operation/VesselStoppageList',
                            type: 'GET',
                            data: { vesselName: $('#select2-vessels-container').text(), voyageId: $('#voyageId').val(), pageNumber: pageNumber, filter: filter },
                            async: false,
                            success: function (res2) {
                                $('#vesselStoppageList').html(res2);
                                $('#vesselStoppageList').css('visibility', 'initial')
                                $('#vesselStoppageList').fadeIn(1000);
                            }
                        });
                        if (filter != '') {
                            $('#search').val(filter);
                        }
                    }
                });
            });


            //$('#show').click(function(input){
            //    $('#vesselStoppageList').fadeOut();
            //    var filter = $(this).data('filter');
            //    var pageNumber = $(this).data('pageNumber');
            //    if ($('#vessels').val() != '' && $('#voyageNumbers').val() != null) {
            //        $.ajax({
            //            url: '/Operation/VesselStoppageList',
            //            type: 'GET',
            //            data: { vesselName: $('#select2-vessels-container').text(), voyageId: $('#voyageNumbers').val(), voyageNoIn: $('#select2-voyageNumbers-container').text(),pageNumber: pageNumber , filter: filter },
            //            async: false,
            //            success: function(res){
            //                $('#vesselStoppageList').html(res);
            //                      setTimeout(function () {
            //                          $('#vesselStoppageList').css('visibility', 'visible')
            //                          $('#vesselStoppageList').hide();
            //                          $('#vesselStoppageList').fadeIn();
            //                      }, 500);
            //            }
            //        });
            //    }
            //    if(filter != ''){
            //        $('#search').val(filter);
            //    }
            //});
        })
    </script>
}
