@{
    ViewData["Title"] = "Vessel Stopages";
}
@model IList<Vessel>

<div class="card">
    <!--begin::Card header-->
    <div class="card-body py-7 row">
        <div class="col-lg-6 align-content-lg-center">
            <img data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="left" title="select a Vessel for getting its vesselStoppages" src="~/assets/media/images/boat-with-containers.png" style="width:60px" />
            <div class="mb-5">
                <div class="fv-row fv-plugins-icon-container overflow-hidden flex-grow-1">
                    <select id="vessels" type="text"  class="form-select form-select-solid border-start" data-control="select2" data-placeholder="Select a Vessel...">
                        <option value="">Select a vessel...</option>
                        @foreach (Vessel vessel in Model)
                        {
                            <option value="@vessel.Id">@vessel.Name</option>
                        }
                    </select>
                </div>
                <input type="hidden" id="voyageId" />
            </div>
        </div>
    </div>
</div>

<div id="vesselStoppageList" style="padding:0;visibility:hidden;">

</div>

@section Links{
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/custom/apps/user-management/users/list/tableVessel.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#operation').addClass("show");
            $('#vessels').val(null);

            $('#vessels').change(function () {
                var filter = $(this).data('filter');
                var pageNumber = $(this).data('pageNumber');

                $.ajax({
                    url: '/Operation/GetVoyageNoIn',
                    type: 'GET',
                    data:{vesselId: $('#vessels').val()},
                    success: function(res){
                		$('#voyageId').val(res.id);
                        $('#vesselStoppageList').hide();
                        $('.tooltip-inner, .tooltip-arrow').hide();

                        $.ajax({
                            url: '/Operation/VesselStoppageList',
                            type: 'GET',
                            data: { vesselName: $('#select2-vessels-container').text(), voyageId: $('#voyageId').val(), pageNumber: pageNumber, filter: filter },
                            async: false,
                            success: function (res2) {
                                $('#vesselStoppageList').html(res2);
                                $('#vesselStoppageList').css('visibility', 'initial')
                                $('#vesselStoppageList').fadeIn(1000);
                            }
                        });
                        if (filter != '') {
                            $('#search').val(filter);
                        }
                    }
                });
            });
        })
    </script>
}
